.search-section {
  width: 100%;
  height: 30vh;
  position: relative;
}

.search-section .img-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.search-section .img-container img {
  object-position: center center;
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.search-section .overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 0;
  width: 100%;
  height: 100%;
}

.search-section .content {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.search-section .content h1 {
  font-size: 2.3rem;
}

.loading{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70vh;
  background-color: var(--background-color);
}

.movie-details {
  padding: 1.5rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;

  background-color: var(--background-color);
  /* background-color: red; */
}

.movie-details .img-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 40%;
  min-height: 70vh;
  height: 100%;
  overflow: hidden;
}

.movie-details .img-container img {
  width: auto;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.movie-details .details-content {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  justify-content: flex-start;
  align-items: flex-start;
  min-height: 70vh;
  color: var(--text-color);
}

.movie-details p {
  margin: 0;
}

.detail-line {
  font-size: 1.2rem;
}
.movie-title {
  font-size: 1.6rem;
  margin: 0;
  font-weight: 500;
  margin-bottom: 1.5rem !important;
}

.property {
  font-weight: 500;
}

@media screen and (max-width: 600px) {
  /* .movie-details {
    padding: 0.6rem;
    flex-direction: column;
  } */

  .movie-details .img-container{
    width: 30%;
    /* min-height: ; */
  }

  .movie-details .img-container img {
    width: 100%;
    height: auto;
  }

  .movie-details .details-content {
    font-size: 0.8rem;
  }

  .detail-line{
    font-size: 0.9rem !important;

  }
}


@media screen and (max-width: 440px) {
  .movie-details {
    padding: 0.6rem;
    flex-direction: column;
  }
  .movie-details .img-container{
    width: 50%;
    min-height: fit-content;
  }

  .movie-details .details-content{
    width: 92%;
  }

  .movie-details .img-container img {
    width: 100%;
    height: auto;
  }
}