<div class="search-section">
  <div class="img-container">
    <img src="assets/img/bg.jpg" alt="" />
  </div>
  <div class="overlay"></div>
  <div class="content">
    <h1>Search Movies</h1>
    <app-search-input
      (emitter)="searchFunction($event)"
      [query]="searchQuery"
    ></app-search-input>
  </div>
</div>
<div class="loading" *ngIf="loading; else details">
  <div class="lds-facebook">
    <div></div>
    <div></div>
    <div></div>
  </div>
</div>
<ng-template #details>
  <div class="movie-details">
    <div class="img-container">
      <img [src]="movie.poster" alt="" />
    </div>
    <div class="details-content">
      <p class="movie-title">{{ movie.title }}</p>
      <p class="detail-line"><strong>Year</strong> - {{ movie.year }}</p>
      <p class="detail-line"><strong>Rated</strong> - {{ movie.rated }}</p>
      <p class="detail-line">
        <strong>Released</strong> - {{ movie.released }}
      </p>
      <p class="detail-line">
        <strong>Director</strong> - {{ movie.director }}
      </p>
      <p class="detail-line"><strong>Actors</strong> - {{ movie.actors }}</p>
      <p class="detail-line">
        <strong>Genre</strong> -
        <app-chip
          style="margin-right: 0.4rem"
          *ngFor="let genre of movie.genre"
          text="{{ genre }}"
        ></app-chip>
      </p>
      <p class="detail-line">
        <strong>Language</strong> -
        <app-chip
          style="margin-right: 0.4rem"
          *ngFor="let lang of movie.language"
          text="{{ lang }}"
        ></app-chip>
      </p>
      <p class="detail-line"><strong>Plot</strong> - {{ movie.plot }}</p>
      <p class="detail-line">
        <strong>IMDB Rating</strong> - {{ movie.imdbRating }}
        <progress id="rating" value="{{ movie.imdbRating }}" max="10.0">
          32%
        </progress>
      </p>
    </div>
  </div>
</ng-template>
